{% extends "layout.html" %}

{% block body %}

<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>
          <!-- Author -->
          <p class="lead" >
              by <i style=" text-transform: uppercase ; ">{{ article.author.username }}</i>
        </p>


        <!-- Date/Time -->
        <p>{{ article.created_date }}</p>
          <hr>
{% if aticle.article_image %}
          <img class="img-fluid rounded" src= "{{ article.article_image.url }}">
        <hr>
{% endif %}
        <p class="lead">
            {{ article.content| safe }}
        </p>

        <hr>








      </div>



    </div>




{% endblock body %}